<!DOCTYPE html>
<html ng-app="yelpApp">
<head>
  <title>MUNCHIE TIME</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
  <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Rubik'>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>

<div class="container-fluid banner_logo">
<h1>MUNCHIE TIME</h1>
</div>

  <div class="container" ng-controller="searchController">
    <div class="row">

      <div class="col-md-3 search_box">
        
        <img class="yelp_logo" src="assets/yelp_powered_btn_red.png">
        <h3>{{searchBox}}</h3>

        <div class="selection">
          <p>Select Neighborhood:</p>
          <select class="neighborhood_select" ng-model="neighborhoodSelection">
            <option value={{neighborhood}} ng-repeat="neighborhood in neighborhoods">{{neighborhood}}</option>
          </select>
        </div>

        <div class="selection">
          <p>Select Meal:</p>
          <select class="meal_select" ng-model="mealSelection">
            <option value={{food}} ng-repeat="food in meals">{{food}}</option>
          </select>
        </div>

        <div>
          <button class="btn btn-primary submit_button" ng-click="setResults(neighborhoodSelection, mealSelection, priceSelection)">
            SUBMIT
          </button>
        </div>
        
      </div> <!--Close Search Box-->

      <div class="col-md-9 results_box">
        <h2>{{currResults}}</h2>
        <div class="row">
          <div class="entry">
            <div class="col-md-4 entry" ng-repeat="entry in finalSearchResults">
              <p class="business_name">{{entry.name}}</p>
              <a ng-href="{{entry.url}}"><img ng-src="{{entry.image_url}}"></a>
              <p class="entry_item">Reviews: {{entry.review_count}}</p>
              <h4 class="entry_item"><strong><em>What customers are saying:</em></strong></h4>
              <p class="entry_item">{{entry.snippet_text}}</p>
            </div>
          </div>
        </div> <!-- Close Row -->
      </div> <!--Close Results Box-->

    </div> <!--Close Primary Row in App-->
  </div> <!--Close Main Container-->

  <script src="app/controller.js"></script>
  <script src="app/examplesearchdata.js"></script>
  <script src="app/app.js"></script>
</body>
</html>