<!DOCTYPE html>
<html ng-app="yelpApp">
<head>
  <title>Munchie Time</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
  <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Rubik'>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>

<div class="container-fluid banner_logo">
<h1>MUNCHIE TIME</h1>
</div>

  <div class="container">
    <div class="row">

      <div class="col-md-3 search_box">
        <div ng-controller="searchController">
          <img class="yelp_logo" src="assets/yelp_powered_btn_red.png">
          <h3>{{searchBox}}</h3>

          <ul>
            <li>Pick Neighborhood</li>
            <li>Choose Food</li>
            <li>Select Price Range</li>
          </ul>
          <div ng-controller="resultsController">
          <button class="btn btn-primary submit_button" ng-click="searchYelp()">SUBMIT</button>
          </div>
        </div>
      </div>

      <div class="col-md-9 results_box" ng-controller="resultsController">
        <h3>{{currResults}}</h3>
        <div class="row">
          <div class="col-md-4 entry" ng-repeat="entry in results track by $index">
            <h4 class="business_name">{{entry.name}}</h4>
            <a ng-href="{{entry.url}}"><img ng-src="{{entry.image_url}}"></a>
            <div class="reviews_count">Reviews: {{entry.review_count}}</div>
            <span>What customers are saying:</span>
            <div>{{entry.snippet_text}}</div>
          </div>
        </div> <!-- Close Row -->
      </div>
    

    </div>
  </div>


  <script src="app/controller.js"></script>
  <script src="app/examplesearchdata.js"></script>
  <script src="app/app.js"></script>
</body>
</html>