/* Main HTML Elements Styling */

body {
  background-color: transparent;
}

/* Header Styling */

.banner_logo {
  background-color: #d9534f;
  min-height: 75px;
}

.banner_logo h1 {
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}

/* Search Box Styling */

.search_box {
  background-color: #fff; 
  border: 1px black solid;
  margin-top: 20px;
  min-height: 550px;
  max-height: 100%;
}

.yelp_logo {
  display: block;
  padding-top: 10px;
  margin: auto;
}

.submit_button {
  display: block;
  margin: auto;
}

/* Search Results Box */

.results_box {
  border: 1px red solid;
  margin-top: 20px;
  min-height: 550px;
  max-height: 550px;
}

.entry {
  border: 1px blue solid;
  display: block;
}

.entry .business_name {
  text-align: center;
}

.entry img {
  display: block;
  margin: auto;
  min-height: 200px;
  min-width: 200px;
}

